*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    /* overflow: hidden; */
}

.container{
    max-width: 1100px;
    margin: 40px auto;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    opacity: .7;
}

nav .navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.navigation li:last-of-type{
    text-align: right;
}

.navigation li:nth-of-type(2){
    text-align: center;
}

.navigation li:nth-of-type(3){
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3rem;
}

.navigation li:nth-of-type(4){
    text-align: center;
}

.logo{
    opacity: 1;
    text-transform: capitalize;
    position: relative;
    top: -13px;
}

ul li{
    list-style: none;
}


header .painter-artist{
    position: relative;
    /* left: 927px; */
    
}


.painter-artist img{
    position:absolute;
    height: 50px;
    width: 50px;
    object-fit: cover;
    /* top: -10px;
    left: -50px; */
    border: 2px solid #fff;
    box-shadow: 0px 20px 90px 50px rgba(0, 0, 0, 1);
}

.painter-artist .text{
    background: yellow;
    color: black;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 500;
    display: inline-block;
}

.grid{
    max-width: 1100px;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr); */
}

.slant-img img{
    height: 150px;
    width: 200px;
    object-fit: fill;
    rotate: 10deg;
    position: relative;
    left: 10px;
    bottom: 10px;
    box-shadow: 0 30px 10px 15px rgba(0, 0, 0, .5);
}

.marvelous h1{
    overflow: hidden;
    text-transform: capitalize;
    font-size: 10rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.main-img img{
    height: 370px;
    width: 150px;
    object-fit: fill;
}

.box-img-subtitle img{
    height: 100px;
    width: 100px;
    object-fit: fill;
}

.box-img-subtitle{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    width: 30%;
}

.box-img-subtitle h2{
    grid-column: 1/3;
    grid-row: 2/3;
    text-transform: uppercase;
    opacity: .7;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.box-img-subtitle img:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}
.box-img-subtitle img:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
}

.enough h1{
    overflow: hidden;
    text-transform: capitalize;
    font-size: 10rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: -25px;
}

/* .grid div:nth-of-type(1){
    grid-column: 1/2;
    grid-row:1/2 ;
}

.grid div:nth-of-type(2){
    grid-column: 2/5;
    grid-row:1/2 ;
}

.grid div:nth-of-type(3){
    grid-column: 5/7;
    grid-row:1/3 ;
}

.grid div:nth-of-type(4){
    grid-column: 1/3;
    grid-row:2/3 ;
}

.grid div:nth-of-type(5){
    grid-column: 3/5;
    grid-row:2/3 ;
} */

.header-group{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}

.header-group-top{
    display: flex;
    align-items: center;
}

.header-group-bottom{
    display: flex;
    align-items: center;
}

.main-img{
    max-width: 20%;
}

.main-img img{
    max-width: 100%;
}

.main-img-left{
    max-width: 80%;
}

.about-title{
    max-width: 1100px;
    margin:50px auto 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-title h3{
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.about-title p{
    text-transform: uppercase;
    text-align: right;
    font-size: 13px;
}

.about-bg{
    max-width: 1100px;
    margin: 10px auto;
    height: 400px;
    background: url('images/green\ \(3\).jpg');
    background-position: center;
}

.gallery-title{
    max-width: 1100px;
    margin:50px auto 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-title h3{
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-align: right;
}

.gallery-title p{
    text-transform: uppercase;
    font-size: 13px;
}

.gallery-pics img{
    height: 100%;
    width: 100%;
}

.gallery-pics{
    max-width: 1100px;
    max-height: 100vh;
    overflow: hidden;
    margin: 0px auto  30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.gallery-pics div:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
    height: 600px;
    width: 520px;
}

.gallery-pics div:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 290px;
    width: 270px;
}

.gallery-pics div:nth-of-type(3){
    grid-column: 4/5;
    grid-row: 1/2;
    width: 100%;
    height: 290px;
    width: 270px;
}

.gallery-pics div:nth-of-type(4){
    grid-column: 4/5;
    grid-row: 2/3;
    width: 100%;
    height: 290px;
    width: 270px;
}

.gallery-pics div:nth-of-type(5){
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: 290px;
    width: 270px;
}

.below-gallery-pics{
    max-width: 1100px;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 20px;
}

.below-gallery-pics div:nth-of-type(1){
    /* grid-column: 4/5;
    grid-row: 2/3; */
    
}

.below-gallery-pics div:nth-of-type(2){
    /* grid-column: 4/5;
    grid-row: 2/3; */
    
}

.below-gallery-pics div:nth-of-type(3){
    /* grid-column: 4/5;
    grid-row: 2/3; */
    width: 100%;
    
}

.below-gallery-pics img{
    height: 290px;
    width: 360px;
}